<div class="eqLogic-widget eqLogic wazeintime col2" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-eqType="#eqType#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="#style#">
  	<span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
		<i class="fas fa-sync"></i>
	</span>
	<center>
		<span class="widget-name">
			<span class="warning" title="#alert_name#">
				<i class='#alert_icon#'></i>
			</span>
			<span>#name_display# <span class="object_name">#object_name#</span></span><br/>
		</span>
	</center>
  <span style="font-size : 0.7em;margin-left:5px;" class="pull-left">#lastrefresh#</span>
  <div class="row" style="margin-left : 2px;margin-right : 2px;">
    <div class="col-sm-6" style="overflow:hidden;">
     <legend style="margin : 0px !important;font-size : 15px;font-weight: bold;cursor:default"><i class="fa fa-arrow-right"></i> Aller</legend>
     <div class="travel1">
      <span class="#time1_history# time1" data-cmd_id="#time1_id#">
        <strong class="tooltips" title="#time1_collect#" style="font-size:1.0em;">#time1#</strong> <span style="font-size:0.6em;">min</span>
      </span>
      <span class="routename1" data-cmd_id="#routename1_id#" style="cursor:default">
        <span class="tooltips" title="#routename1# le #routename1_collect#" style="font-size:0.7em;"> - #routename1#</span>
      </span>
    </div>
    <div class="travel2">
      <span class="#time1_history# time2" data-cmd_id="#time2_id#">
        <strong class="tooltips" title="#time2_collect#" style="font-size:1.0em;">#time2#</strong> <span style="font-size:0.6em;">min</span>
      </span>
      <span class="routename2" data-cmd_id="#routename2_id#" style="cursor:default">
        <span class="tooltips" title="#routename2# le #routename2_collect#" style="font-size:0.7em;"> - #routename2#</span>
      </span>
    </div>
    <div class="travel3">
      <span class="#time1_history# time3" data-cmd_id="#time3_id#">
        <strong class="tooltips" title="#time3_collect#" style="font-size:1.0em;">#time3#</strong> <span style="font-size:0.6em;">min</span>
      </span>
      <span class="routename3" data-cmd_id="#routename3_id#" style="cursor:default">
        <span class="tooltips" title="#routename3# le #routename3_collect#" style="font-size:0.7em;"> - #routename3#</span>
      </span>
    </div>
  </div>
  <div class="col-sm-6" style="overflow:hidden;">
   <legend style="margin : 0px !important;font-size : 15px;font-weight: bold;Cursor:default"><i class="fa fa-arrow-left"></i> Retour</legend>
   <div class="travel1">
    <span class="#timeret1_history# time1" data-cmd_id="#timeret1_id#">
      <strong class="tooltips" title="#timeret1_collect#" style="font-size:1.0em;">#timeret1#</strong> <span style="font-size:0.6em;">min</span>
    </span>
    <span class="routename1" data-cmd_id="#routeretname1_id#" style="cursor:default">
      <span class="tooltips" title="#routeretname1# le #routeretname1_collect#" style="font-size:0.7em;"> - #routeretname1#</span>
    </span>
  </div>

  <div class="travel2">
    <span class="#timeret2_history# time2" data-cmd_id="#timeret2_id#">
      <strong class="tooltips" title="#timeret2_collect#" style="font-size:1.0em;">#timeret2#</strong> <span style="font-size:0.6em;">min</span>
    </span>
    <span class="routename2" data-cmd_id="#routeretname2_id#" style="cursor:default">
      <span class="tooltips" title="#routeretname2# le #routeretname2_collect#" style="font-size:0.7em;"> - #routeretname2#</span>
    </span>
  </div>
  <div class="travel3">
    <span class="#timeret3_history# time2" data-cmd_id="#timeret3_id#">
      <strong class="tooltips" title="#timeret3_collect#" style="font-size:1.0em;">#timeret3#</strong> <span style="font-size:0.6em;">min</span>
    </span>
    <span class="routename3" data-cmd_id="#routeretname3_id#" style="cursor:default">
      <span class="tooltips" title="#routeretname3# le #routeretname3_collect#" style="font-size:0.7em;"> - #routeretname3#</span>
    </span>
  </div>
</div>
</div>

<script>
  $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
    jeedom.cmd.execute({id: '#refresh_id#'});
  });
  if('#hide1#' == 1){
   $('.eqLogic[data-eqLogic_uid=#uid#] .travel1').hide();
 }
 if('#hide2#' == 1){
  $('.eqLogic[data-eqLogic_uid=#uid#] .travel2').hide();
}
if('#hide3#' == 1){
  $('.eqLogic[data-eqLogic_uid=#uid#] .travel3').hide();
}
</script>
</div>
